body {
    background: var(--background);
    color: var(--color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
}
nav a {
    color: var(--menulink);
}
h1 {
    margin: 1em 0;
    border-bottom: 1px solid var(--border);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    padding: .2em 0
}
footer {
    border-top: 1px solid var(--border);
    margin-top: 3em;
    padding: .5em;
    font-size: .8em;
}
footer a {
    color:var(--footerlink);
}
