body {
    background: var(--background);
    color: var(--color);
    font-family: helvetica, Arial, sans-serif;
    padding: 1em;
}
nav a {
    color: var(--menulink);
}
h1 {
    margin: 1em 0;
    border-bottom: 1px solid var(--border);
}
.article a {
    color: var(--footerlink);
}
summary {
    margin-bottom: 1em;
}
nav ul {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
}
nav li {
    padding: .2em 0
}
footer {
    margin-top: 3em;
    padding: .5em;
    font-size: .8em;
}
footer a {
    color:var(--footerlink);
}
