:root {
    --background: whitesmoke;
    --color:#333;
    --menulink: darkblue;
    --footerlink:darkgreen;
    --border: #333;
    --navbg: #eee;
    --navborder: #666;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --color:whitesmoke;
        --menulink: skyblue;
        --footerlink:green;
        --border: white;
        --navbg: #222;
        --navborder: #ccc;
        }
}
@media print {
    body::before {
        content: 'Printing...';
    }
    body {
        --background: #fff;
        --color: #000;
    }
    nav a {
        color: #000;
    }
    a::after {
        content: " (" attr(href) ") ";
    }
    div {
        display: none;
    }
}
